#root {
  height: 100vh;
  color: #fff;
  
  background: #000;
  display: grid;
  place-content: center;
}

main {
  aspect-ratio: 9/16;
  border-radius:  3px;
  overflow-y: scroll;
  max-width: 375px;
  width: 100vw;
  display: block;
}

